<p id="notice"><%= notice %></p>

      <div class="sessions ">
      <% @groups.each do |group| %>
        <%= group.name %>
        <b><%= group.created_at %></b>
        <div class="group-img">
          <%= image_tag group.avatar %>
        </div>
    <% end %>
</div>



<div class="fixed-bottom text-center">
  <%= button_to 'Add New', new_group_path, method: :get, class: 'btn col-11 bg-green p-3 mb-2 text-white' %>
</div>
