<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
  <div class="group-img">
    <% if @group.avatar.attached? %>
    <%= image_tag @group.avatar %>
  <% end %>
  </div>
</p>

<% @transactions.each do |tran| %>
  <%= tran.name %>
  <%= tran.amount %>
  <%= tran.user.name %>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
