<% if user_signed_in? %>
  <div id="main-page" class="row">
    <ul class="nav sessions col-10 text-center text-white light-font">
      <%= user_avatar %>
      <li class="nav-item mt-2 text-dark bold-font">
        <%= current_user.name %>
      </li>
      <li class="nav-item mt-3">
        <%= link_to 'Bills', transactions_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <%= link_to 'External Bills', external_transactions_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Groups', groups_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit Account', edit_user_registration_path, class: 'nav-link text-white' %>
      </li>
    </ul>
  </div>
<% else %>
  <div class="sessions home-title">
    <h1 class="mb-5">
      FamilyBills
    </h1>
  </div>
  <ul class="nav row text-center fixed-bottom mb-3 m-auto light-font">
    <li class="nav-item col-12">
      <%= link_to "Sign In", new_user_session_path, class: 'nav-link btn bg-green text-white w-100 p-3' %>
    </li>
    <li class="nav-item mt-2 mb-2 col-12">
      <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link btn bg-blue text-white w-100 p-3' %>
    </li>
  </ul>
<% end %>
