<div class="row">
  <div class="d-flex justify-content-between bg-green col-12 p-3">
    <div>
      Total
    </div>
    <div>
      <%= @total %> hours
    </div>
  </div>

  
     <% @transactions.each do |transaction| %>
     <div class="d-flex flex-column p-2 justify-content-between m-auto col-11">
      <div class="card w-100 m-auto">
          <div class="card-body">
            <%= transaction.name %>
          <%= transaction.amount %>
          <%= transaction.created_at %>
          <%= link_to 'Show', transaction %>
          <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      </div>
     </div>
    <% end %>


</div>
<div class="fixed-bottom text-center">
  <%= link_to 'New Transaction', new_transaction_path %>
</div>
