<!DOCTYPE html>
<html>
  <head>
    <title>BillTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container-fluid">
    <div class="row">
      <% if flash[:notice] %>
        <div class="bg-success col-12 text-center p-2">
          <p class="notice text-white m-auto"> <%= notice %> </p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="bg-danger col-12 text-center p-2">
          <p class="alert text-white m-auto"> <%= alert %> </p>
        </div>
      <% end %>
    </div>
    <div class="row">
      <nav class="bg-blue navbar col-12">
        <ul class="nav">
          <%= link_to home_index_path, class: "nav-item" do %>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
          <% end %>
        </ul>
        <ul class="nav justify-content-end">
          <% if user_signed_in? %>
            <li class="nav-item mr-2">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link btn bg-green text-white' %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
